/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS */
@layer base {
  :root {
    /* COMMON VARIABLES */
    --color-primary: 69 78 232;
    --color-warning: 255 196 111;
    --color-success: 131 194 135;
    --color-danger: 195 46 46;
    --color-accent: 69 94 181;
    /* DARK MODE (DEFAULT) */
    --color-text: 255 255 255;
    --color-bg-secondary: 48 52 63;
    --color-bg: 40 43 52;
  }

  @media (prefers-color-scheme: light) {
    :root {
      /* LIGHT MODE */
      --color-text: 0 0 0;
      --color-bg-secondary: 246 246 246;
      --color-bg: 255 255 255;
    }
  }

  :root[theme="light"] {
    --color-text: 0 0 0;
    --color-bg-secondary: 246 246 246;
    --color-bg: 255 255 255;
  }
}

@layer base {
  body {
    @apply font-kodchasan bg-bg text-text text-sm sm:text-base;
  }

  input {
    @apply !outline-none !appearance-none;
  }
}

/* UI ELEMENTS */
@layer components {
  .btn {
    @apply bg-primary text-white py-2 px-6 sm:px-5 rounded-lg transition-colors duration-150 hover:shadow-sm;
  }

  .title {
    @apply text-lg md:text-2xl lg:text-3xl;
  }

  .burger {
    @apply lg:hidden flex flex-col justify-center w-9 cursor-pointer space-y-[5px] h-9 z-30 bg-bg rounded p-1;
  }

  .burger span {
    @apply block h-[2px] bg-text rounded-xl transition-all;
  }

  .nav-link {
    @apply px-8 py-3 rounded-md flex space-x-3 items-center;
  }

  .form-input {
    @apply relative w-full;
  }

  .form-input input {
    @apply rounded-lg bg-transparent p-3 pr-12 border border-text/50 w-full focus:border-text/40;
  }

  .form-input span {
    @apply absolute px-[5px] -top-[11px] left-4 bg-bg text-text/50 text-sm selection:stroke-none;
  }

  .form-input svg {
    @apply absolute top-3 right-4 cursor-pointer;
  }

  .icon-item {
    @apply relative w-full h-12 border border-accent/70 rounded cursor-pointer duration-500;
  }

  .icon-item img {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-6 lg:w-[26px];
  }
}

/* COMMON EFFECTS */
@layer utilities {
  

  /* HOVER EFFECTS */
  @media (hover: hover) {

    .btn {
      @apply hover:bg-gradient-to-tl hover:bg-accent hover:from-primary;
    }

    .nav-link.active {
      @apply bg-bg font-bold;
    }

    .icon-item {
      @apply hover:bg-primary/60 hover:border-bg;
    }
  }

  /* ABSOLUTE CENTERING */
  .centering {
    @apply absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2;
  }
}
